/* CarrinhoItem.module.css */
.carrinhoItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.carrinhoItem img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.carrinhoItem .descricao {
    flex: 1;
}

.carrinhoItem .descricao p {
    margin-bottom: 5px;
}

.carrinhoItem .quantidade {
    text-align: center;
}

.carrinhoItem .quantidade p {
    margin-bottom: 5px;
}
