@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.menu {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente os itens */
    align-items: center; /* Alinha verticalmente os itens */
    background-color: #1C1C1C; /* Cor de fundo do menu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Altura do menu */
    z-index: 999; /* Garante que o menu fique sobreposto a outros elementos, se necessário */
}

.nomeSite {
    font-family: "Baloo 2", serif;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    font-weight: 600;
    margin: 0;
    text-align: center; /* Centraliza o texto horizontalmente */
}

/* Estilos para o menu responsivo */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: row; /* Altera para layout de linha em telas menores */
        position: fixed;
        justify-content: space-between; /* Espaço entre os itens no menu */
        padding: 0; /* Reduz o padding para economizar espaço */
    }

    .nomeSite {
        margin-bottom: 10px; /* Espaçamento abaixo do nome do site */
    }
}
