@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

.menu {
    display: flex;
    align-items: center;
    background-color: #1C1C1C; /* Cor de fundo do menu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o menu fique sobreposto a outros elementos, se necessário */
}

.nomeSite {
    font-family: "Baloo 2", serif;
    font-size: 20px;
    color: #ffffff;
    font-weight: 600;
    margin: 0; /* Remova o margin que estava causando um espaçamento extra */
}

.logoLink {
    text-decoration: none;
    display: flex; /* Para garantir que os elementos fiquem na mesma linha */
    align-items: center; /* Alinha verticalmente */
}

.logoImg {
    width: 40px; /* Tamanho do ícone do logotipo */
    height: auto;
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
}

.containerCarrinho {
    margin-left: auto; /* Posiciona o carrinho no canto direito */
}

.carrinhoIcon {
    width: 30px; /* Tamanho do ícone do carrinho */
    height: auto;
    cursor: pointer; /* Transforma o ícone em um ponteiro ao passar o mouse */
    /* Adicione outros estilos conforme necessário */
}

/* Estilos para o menu responsivo */
@media screen and (max-width: 768px) {
    .menu {
        flex-direction: row; /* Altera para layout de linha em telas menores */
        position: fixed;
        justify-content: space-between; /* Espaço entre os itens no menu */
        padding: 0; /* Reduz o padding para economizar espaço */
    }

    .nomeSite {
        margin-bottom: 10px; /* Espaçamento abaixo do nome do site */
    }

    .containerCarrinho {
        margin-left: auto; /* Empurra o carrinho para o canto direito */
        margin-right: 30px;
        margin-top: 10px; /* Espaçamento acima do carrinho */
    }

    .containerCarrinho img {
        width: 30px; /* Tamanho do ícone do carrinho */
        height: auto;
    }
}
